body {
	text-align: center;
}
a {
	text-decoration: none;
	font-family: Raleway;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}
h1, h2, a {
	text-transform: uppercase;
}
h1 {
	font-family: Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
}
h2 {
	font-family: Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 20px;
}