body {
	text-align: center;
	margin: 0;
}

header {
	background-color:#F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	padding: 20px 0;
	color: #FFFFFF;
}

main {
	width: 850px;
	margin: 15px auto;
}

a {
	text-decoration: none;
	font-family: Raleway;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
	color: inherit;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

.inline {

}

h1, h2, a {
	text-transform: uppercase;
}

h1 {
	font-family: Raleway;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	font-family: Raleway;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 20px;
}

img {
	margin: 40px 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	font-family: Raleway;
	float: left;
}

.message {
	font-family: Raleway;
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}