body {
	text-align: center;
	margin: 0;
}

header {
	background-color:#F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	padding: 20px 0;
	color: #FFFFFF;
}

main {
	width: 850px;
	margin: 15px auto;
}

a {
	text-decoration: none;
	font-family: Raleway;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
}

h1, h2, a {
	text-transform: uppercase;
}

h1 {
	font-family: Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	font-family: Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 20px;
}

img {
	margin: 40px 8px;
}